html {
	background:url("../images/bg/bg3.png") repeat;
	background: #2e2f2e;
	font-family:"Roboto";
}

html, body {
	padding:0;
}

body {
	margin:50px 0 0 0;
}

#topbar {
	position:fixed;
	display:flex;
	top:0;
	left:0;
	width:100%;
	height:50px;
	background:rgba(25,25,25,0.92);
	z-index:10;
	transition:0.5s;
}

#pageTitle, .menuButton {
	display:inline-flex;
	justify-content: center;
	align-items: center;
	margin:0 10px 0 0;
	padding:0;
	height:100%;
	font-size:18pt;
	background:rgba(50,50,50,0);
	color:rgba(250,250,250,1);
}

.menuButton {
	width:50px;
	cursor:pointer;
	transition:0.2s;
}

.menuButton:hover {
	background:rgba(50,50,50,1);
	transition:0.5s;
}

#menu {
	position:fixed;
	display:flex;
	flex-direction:column;
	top:50px;
	left:-15vw;
	width:15vw;
	height: calc( 100vh - 50px );
	background: rgba(36, 40, 47, 0.79);
	backdrop-filter: blur(10px);
	box-shadow:0 0 1px 2px rgba(10,10,10,0.5);
	opacity:0;
	transition:0.2s;
}

#Navigation, #Catigories {
	height:unset;
	background:unset;
	box-shadow:unset;
	overflow: hidden;
}

#navMenu {
	display:none;
	overflow: hidden;
}

#navMenu:checked ~ #menu {
	left:0;
	opacity:1;
	transition:0.25s;
}
#content {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
	min-height:calc(100vh - 50px);
	margin: auto;
	transition:0.2s;
}

#content:-webkit-full-screen, #content:-moz-full-screen, #content:-ms-fullscreen, #content:fullscreen {
	padding:0;
}

#Intrest, #games {
	width:calc( 129vw * 0.74 );
	margin:100px 0 100px 0;
}
#New {
	width:calc( 129vw * 0.74 );
  margin: 30px 0 100px;
	z-index: 2;
}
#PopularUpdates {
	width:95%;
	z-index: 2;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#Popular, #Updates {
	height:60vh;
	width:48%;
}

#NewsFilter .card p {
	height:calc( calc( 6vh + 6vw ) / 2 );
}

#NewsFilter {
	height:calc( 100% - calc( calc( 87vw * 0.18 * 0.20) + 6px));
}

#FeedList {
	height:100%;
}

#AllSearch {
	height:calc( calc( 87vw * 0.18 * 0.20) + 4px);
	min-height:calc( calc( 250px * 0.20) + 4px);
	display:flex;
	padding:2px;
}
.content-bg {
	display: inline-block;
  z-index: 1;
  width: 100vw;
  height: 110vh;
	position: absolute;
	top: -5vh;
  border: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	filter: blur(15px);
  -webkit-filter: blur(15px);
	background: url("https://enjoycss.com/bg-img/custom/10917-3vt23z.z3aml.png");
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: cover;
	background-repeat: no-repeat;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.content-bg2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 100%;
  height: 80vh;
  z-index: 1;
	margin: -300px 0 0;
  overflow: hidden;
  position:absolute;
  background-image: linear-gradient(to bottom, rgba(51, 47, 45, 0.68), rgba(14, 58, 124, 0.83), rgba(79, 62, 145, 0.65), rgba(134, 58, 156, 0.57), rgba(187, 45, 155, 0.29), rgba(235, 18, 141, 0.15),rgba(101, 207, 90, 0));
  background-position: 50% 100%;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.GWLogo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 90vw;
	height:35vh;
  margin: auto;
  padding: 10px auto 20px;
  border: none;
  z-index: 3;
  background: url("../images/logo/gwlogo3.png");
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.GWLogo2 {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 48vw;
	height:20vh;
  margin: auto;
  border: none;
	z-index: 2;
	background: url("../images/logo/gwlogo3.png");
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none
}
#loader {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
/*	height: calc(100vh - 90px);
*/
	position:fixed;
	z-index: 999;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:200;
	backdrop-filter:blur(5px);
	background: linear-gradient(323deg, rgba(22,22,24,0.8), rgba(30,30,105,0.9), rgba(33,33,54,0.8), rgba(25,12,58,0.85));
  background-size: 800% 800%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
	transition:0.5s;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

#PreloadInfo, #PreloadProgress {
	color: white;
}

#PreloadProgress {
	width:40%;
}

#PreloadBar {
	display:none;
	background:rgba(30,30,30,1);
	height:10px;
	margin:10px 0 0 0;
	transition:0.5s;
	opacity:1;
	border-radius:5px;
	animation:blinking;
	animation-duration:1s;
	animation-iteration-count: infinite;
}

@keyframes blinking {
	0% { opacity:0.7;}
	50% { opacity:1;}
	100% { opacity:0.7;}
}

.preloadImage {
	display:none;
}

#PreloadAnimation {
	display:none;
	font-size:100px;
	animation: spinning;
	animation-duration:750ms;
	animation-iteration-count: infinite;
	animation-delay:0s;
	animation-timing-function:linear;
	transform-origin:50% 48%;
}

@keyframes spinning {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
