<div id="games"></div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "Casual";
buildMenu("#games","CasualGames","Icon",getList(window.gamesList,"genra","Casual"));
</script>
